@font-face {
    font-family: Young-Serif;
    src: url(./imgs-ttfs/YoungSerif-Regular.ttf);
}

:root {
    --button-link-color: rgb(172, 63, 24);
}

* {
    box-sizing: border-box;
    font-family: "Young-Serif";
    margin: 0;
    padding: 0;
}

a {
    color: var(--button-link-color);
    text-decoration: none;
}

a:visited {
    color: rgb(43, 98, 218);
}

body {
    display: flex;
    height: 100vh;
}

.image-column {
    display: flex;
    flex-direction: column;
    background-image: url("./imgs-ttfs/Ribic-Thor.jpg");
    flex-grow: 1;
    justify-content: space-between;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    color: white;
    height: 200px;
    margin-top: 15vh;
    padding: 20px;
}

.banner > img {
    height: 150px;
    opacity: 1;
}

.banner > h4 {
    color: white;
    font-size: 2rem;
}

.image-column-footer {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: .8rem;
    padding-bottom: 12px;
}

.image-column-footer a {
    color: black;
    text-decoration: underline;
}

.form-column {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    background-color: rgb(206, 211, 214);
    text-align: left;
    width: min(600px, 70vw);
}

.form-column .header {
    font-size: 1.4rem;
    /* min-width: 45ch; */
    max-width: 60ch;
    padding: 40px;
}

.form {
    display: flex;
    justify-content: left;
    background-color: rgb(202, 202, 197);
    box-shadow: 0px 2px 15px 0px rgba(0,0,0,.5);
    width: 100%;
    padding: 20px 40px 35px 40px;
    margin: 0;
    font-size: .75rem;
    letter-spacing: .07rem;
}

.form-row-1,
.form-row-2,
.form-row-3 {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.spacer {
    width: 5vw;
}

.form-row {
    display: flex;
    flex-direction: column;
}

button {
    margin-bottom: 30px;
    padding: 10px 40px;
    border-radius: 5px;
    background-color: var(--button-link-color);
    color: whitesmoke;
    font-size: 1.15rem;
    border: none;
    box-shadow: 0px 2px 15px 0px rgba(0,0,0,.5);
}

button:hover {
    cursor: pointer;
}

.button-section {
    font-size: 1.1rem;
    padding: 30px 40px 40px 40px;
}

legend {
    font-size: 1.4rem;
    margin-bottom: 20px;
}

input {
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    margin: 0;
    border: none;
    outline: none;
    width: 240px;
}

input:default {
    border: none;
}

input + span {
    position: relative;
    top: -50px;
    left: 220px;
}

input + span::before {
    position: absolute;
}

input:focus:invalid + span::before {
    content: "✖";
    color: red;
}

input:focus:valid + span::before {
    content: "✔";
    top: -2px;
    color: green;
}

input:focus {
    border: 3px solid blue;
}

input:focus:invalid {
    border: 2px solid red;
}

input:focus:valid {
    background-color: rgb(250, 240, 220);
    opacity: .8;
}

.error-text {
    font-size: .8em;
    color: red;
    text-transform: uppercase;
    max-width: 40ch;
    padding: 2px;
}